.section-padding-small{
    padding: 4rem 0;
}
.section-padding-big{
    padding-top: 8rem;
}
.margin-bottom-1{
    margin-bottom: .5rem;
    @media(min-width: 768px){
        margin-bottom: 4rem;
    }
}