$color-primary: #c69963;
$color-primary-dark: #B28451;
$color-primary-dark-hover: #70481a;

$black: #000;
$light-gray-e: #eee;
$light-gray-d: #ddd;
$light-gray-c: #ccc;
$light-gray-b: #bbb;

$dark-gray-1: #111;