@use "./color" as *;
@use "./variables" as *;

.heading-primary {
	font-weight: 100;
	font-family: $title-font;
	letter-spacing: 2px;
}

.section-heading {
	width: 100%;
	text-align: center;
	color: $dark-gray-1;
	letter-spacing: 2px;
	&__uppercase {
		text-transform: uppercase;
	}
}
.section__text {
	font-size: $font-size-14;
	&--dark-gray {
		color: $dark-gray-1;
	}
	&--light-gray {
		color: $light-gray-d;
	}
}

@media (min-width: 768px) {
	.heading-primary {
		font-size: $font-size-60;
		margin-bottom: -1.5rem;
	}
	.section-heading--48 {
		font-size: $font-size-48;
	}
	.section-heading--32 {
		font-size: $font-size-32;
	}
	.section__text {
		font-size: $font-size-16;
	}
}
