.dial {
	&__text {
		padding-inline: 3rem;
		text-align: center;
	}
	&__box {
		margin-top: 2rem;
		padding: 2rem;
	}
	&__img {
		margin-inline: auto;
		height: 12rem;
	}
	@media (min-width: 576px) {
		&__img {
			height: 15rem;
		}
	}
}
