@use '../abstracts/' as *;

.header {
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
	height: 60vh;
    color: $color-primary;
    text-transform: uppercase;
	background-image: url(../../../src/img/header_small.jpg);
	background-position: center;
	background-size: cover;
    z-index: 0;
    &__heading{
        font-weight: 100;
    }
    &__shadow{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, $alpha: .4);
        z-index: -5;
    }
}

@media(min-width:768px){
    .header{
        height: 80vh;
        background-image: url(../../../src/img/header_big.jpg);
    }
}